@import "/style/variables";
@import "./globals";

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: 45%;
  box-shadow: $shadow;
  border-radius: 5px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  flex-direction: column;
  .top-sub-container {
    border-radius: 5px 5px 0 0;
    grid-column: 1/3;
    grid-row: 1/2;
    padding-left: 2em;
    height: 35vh;
    width: 100%;
    grid-row: 1/2;
    background: white;
    h2 {
      color: $cyan;
      padding: 2em 0 0.5em 0;
    }
    h3 {
      color: $brightYellow;
      padding-bottom: 0.5em;
    }
    p {
      color: $grayishBlue;
      padding-bottom: 1em;
      line-height: 1.8em;
    }
  }
  .left-sub-container {
    grid-row: 2/3;
    grid-column: 1/2;
    background: #2bb3b1;
    color: $lightGray;
    padding-left: 2em;
    width: 100%;
    h3 {
      &.title {
        padding: 2em 0 0.5em 0;
      }
      &.payment-access {
        padding: 0.5em 0;
        font-size: 0.85em;
      }
    }
    h1 {
      padding: 0;
      span {
        font-size: 0.5em;
        opacity: 0.7;
        font-weight: 400;
      }
    }
    a {
      width: fit-content;
      background: $brightYellow;
      padding: 0.8em 4em;
      border-radius: 5px;
      outline: none;
      color: $lightGray;
      font-weight: 700;
      margin: 1em 0;
      display: block;
      box-shadow: $shadow;
      &:active {
        outline: none;
      }
    }
  }
  .right-sub-container {
    grid-column: 2/3;
    grid-row: 2/3;
    background: #4abebd;
    width: 100%;
    color: $lightGray;
    padding: 2em;
    h3 {
      padding-bottom: 0.5em;
    }
    li {
      opacity: 0.8;
      padding: 0.05em 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-container {
    height: 80vh;
    width: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    .right-sub-container {
      grid-row: 3/4;
      grid-column: 1/2;
    }
    .top-sub-container {
      height: 100%;
    }
    .left-sub-container {
      grid-row: 2/3;
      grid-column: 1/2;
    }
  }
}
